.el-button--small {
  height: 32px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-button--small > span {
  display: flex;
  justify-content: center;
  align-items: center;
}